* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Panthera';
    src: url(../Fonts/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'BEYNO';
    src: url(../Fonts/BEYNO.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../Fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: 'Wakanda';
    src: url(../Fonts/WakandaForever-Regular.ttf);
}

.fontImg {
    background-image: url(../Illustrations/AllPages/arrière_plan.png);
}

.PageMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 10% 0% 10%;
    align-items: center;
}

.MenuNAve {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

nav a {
    font-family: 'BEYNO';
    color: white;
}

nav .active {
    color: #9E91B7;
}


/* style menu */

.backgrondSection1 {
    background-image: url(../Illustrations/Wakanda/Pantherwakanda1.png);
    background-size: cover;
}

.rangementSection1 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-bottom: 20rem;
}

.rangementSection1 h1 {
    font-family: 'BEYNO';
    color: #9E91B7;
    font-size: 3rem;
}

.rangementSection1 h2 {
    font-family: 'Wakanda';
    color: #9E91B7;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.rangementSection1 p {
    font-family: 'Cantarell';
    color: white;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 27%;
    text-align: justify;
    margin-top: 3rem;
}


/* style section 2 */

.backgrondSection2 {
    /* background-image: url(../Illustrations/Wakanda/Pantherwakanda2.png);
    background-size: 90%;
    background-position: top center;
    background-repeat: no-repeat; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    gap: 7rem;
    padding: 10%;
    font-family: 'Cantarell';
    font-size: 0.8rem;
    color: white;
    text-align: justify;
    position: relative;
}

.backgrondSection2>* {
    position: relative;
    z-index: 1;
}

.backgrondSection2::after {
    content: "";
    background-image: url(../Illustrations/Wakanda/Pantherwakanda2.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.15;
}

.backgrondSection2 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.backgrondSection2 h3 {
    font-family: 'BEYNO';
    color: #9E91B7;
    font-size: 1.3rem;
}

.backgrondSection2 img {
    width: 100%;
}

.video iframe {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}